.exercise-item {
  display: flex;

  gap: 1em;
}
.exercise-img {
  display: flex;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
.image-loader {
  background-color: white;
  font-size: 10px !important;
  border-radius: 10px;
}
